@charset "UTF-8";
* {
    overflow-x: hidden !important;
    box-sizing: border-box !important;
}

body{
  
    background-color: #FFFFFF;
    

}

.shadows-into-light-two-regular {
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;
  }

.henny-penny-regular {
    
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;

  }
  
* {
    
   margin: 0px;
   padding: 0px; 
  
font-weight: bolder !important;
   font-family: "Shadows Into Light Two", cursive;
  
   font-style: normal;
  
  
}
  
span{
  
    background-color: #e9c5d8;
}

.h1-principal{
    color: black!important;
    position: absolute;
    top: 10px ;
    left: 10px;
}









@media screen and (max-width: 600px) {
    html, body {
        overflow-x: hidden !important;
    }
}


/* Estilos para telas com largura de 400px ou menos */
@media screen and (max-width: 480px) {
    body{
       
        overflow-x: hidden !important;
        color: white!important;
    }
.textosvg01{
    text-decoration: underline;
    color: #dfaec8 ;
    font-weight: bolder !important;
    padding:35px;
    z-index: 10 !important;
     font-size: 22px !important;
  left: 100px;
     width: 100vw !important;
     top: 6% !important;
     position: absolute !important;
}

    .svg01{

  
        z-index: 10 !important;
      
      left: 98px;
         width: 100vw !important;
         top: 9.8% !important;
         position: absolute !important;
    }

    .textosvg02{
        text-decoration: underline;
        color: #dfaec8 ;
        font-weight: bolder !important;
        padding:35px;
        z-index: 10 !important;
         font-size: 22px !important;
      left: 220px;
         width: 100vw !important;
         top: 6% !important;
         position: absolute !important;
    }
    
        .svg02{
    
      
            z-index: 10 !important;
          
          left: 220px;
             width: 100vw !important;
             top: 9.8% !important;
             position: absolute !important;
        }
    


    .h1-header{
        font-weight: bolder;
        font-size: 20px;
        left: 24%;
        color: black;
        position: absolute;
        top: 10%;
    }

     .video01{
       
   
        background-color: #FAF1F4;
       
       width: 100vw;
       height: 60px;
      
      
      
       }

       .video02{
       
        border-radius: 10px;
        border:4px solid #dfaec8;
   
        background-color: #dfaec8 ;
        height: 250px !important;
        top: 125% !important;
      width: 330px !important;
      position: absolute;
      right: 10% !important;
       }

  

.gatinho{
    top: 8%;
    position: absolute !important;
    right: 82% !important;
    width: 80px;
}    


    .paragrafo01{
        color: #383530 ;
        font-weight: bolder !important;
        padding:35px;
        z-index: 10 !important;
         font-size: 22px !important;
      left: 0px;
         width: 100vw !important;
         top: 24% !important;
         position: absolute !important;
    }

    .paragrafo02{
   color: #383530 ;
        font-weight: bolder !important;
        padding:35px;
        z-index: 10 !important;
         font-size: 22px !important;
      left: 0px;
         width: 100vw !important;
         top: 14% !important;
         position: absolute !important;
         
     }

     .paragrafo03{
        color: #383530 ;
                 font-weight: bolder !important;
                 padding:35px;
                 z-index: 10 !important;
                  font-size: 22px !important;
               left: 0px;
                  width: 100vw !important;
                  top: 75% !important;
                  position: absolute !important;
                  
      
     }

     .paragrafo04{
        color: #383530 ;
        font-weight: bolder !important;
        padding:35px;
        z-index: 10 !important;
         font-size: 22px !important;
      left: 0px;
         width: 100vw !important;
         top: 50% !important;
         position: absolute !important;
         
         
     }

     .audio01{
        left: 14% !important;
        position: absolute !important;
        top: 55% !important;
     }
     .audio02{
       
        
        left: 14% !important;
        position: absolute !important;
        top: 65% !important;
     }

     
     

}